<%- include("./partials/header") %>


<a href="<%= link %>"><h1><%= title %></h1></a>

<div style="margin: auto; width: 80%;">
    <label>ALGO / CODE</label>
    <textarea cols="100" rows="25"><%= solution %></textarea>
    <label>Important Points</label>
    <textarea cols="100" rows="10"><%= impPoints %></textarea>
 
</div>